body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  image-rendering: pixelated;
  display: block;
}

.ui {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  padding: 8px;
  margin: 3px;
}
